*.class
*.log

# Ignore Mallet model files
*.model
*.topics

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache
.idea/

*.env
tmp/

# OS X
.DS_Store
.Spotlight-V100
.Trashes

# Vim
*.swp
*.swo

# metals
.bloop
.metals

scripts/
